<section class="form-section">
    <div class="text">
        <h3>Fique por dentro de Tendências</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium atque sunt dolorem, 
        veniam nisi maiores reiciendis vitae ipsa consectetur molestiae, 
        suscipit, magni aliquid debitis voluptates similique aspernatur dolorum consequuntur!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, quisquam, 
        culpa optio voluptatum dolorum asperiores fugiat temporibus voluptatibus laudantium dolorem harum illum deserunt, 
        iure est laborum rerum tempora suscipit beatae.
        </p>
    </div>
    <form>
    <label>Nome</label>
    <input id="name"/>
    <label>Email</label>
    <input id="email"/>
    <app-btn-primary btn-text="se inscreva" variant="secondary"></app-btn-primary>
    </form>
</section>
